.Credits {
  min-height: 96vh;
  max-width: 86vw;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: #ffffff;
}
.Credits-Heading {
  font-size: 3.5rem !important;
  overflow: auto;
}
.Credits-Back {
  text-decoration: none;
}
