.Identification {
  min-height: 100vh;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.Identification-GeographicRange {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Identification-Population {
  width: 100%;
}
.MuiAvatar-colorDefault {
  background-color: #1976d2 !important;
}
.MuiAvatar-root {
  font-size: 1rem !important;
}

.MuiAccordionDetails-root {
  padding: 0px 0px 0px !important;
}
