.Identification {
  min-height: 100vh;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.Identification-Taxonomy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: start;
  width: 100%;
}
.Identification-GeographicRange {
  width: 100%;
  display: flex;
  justify-content: center;
}
