.Identification {
  min-height: 100vh;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.Identification-Taxonomy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: start;
  width: 100%;
}
.Identification-GeographicRange {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Identification-Population {
  width: 100%;
}
.MuiAvatar-colorDefault {
  background-color: #1976d2 !important;
}
.MuiAvatar-root {
  font-size: 1rem !important;
}
.Identification-HabitatAndEcology,
.Identification-Threats,
.Identification-ConservationActions {
  text-align: start;
}
.Identification-ThreatsRow {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
}
