.IdentificationByLocation {
  min-height: 100vh;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.IdentificationByCountry-TableContainer {
  max-height: 20rem;
}
.MuiCardContent-root {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
